@font-face {
  font-family: "lucide";
  src: url("lucide.woff2?t=1741974805021") format("woff2"),
       url("lucide.woff?t=1741974805021") format("woff"),
       url("lucide.ttf?t=1741974805021") format("truetype");
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "lucide" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before { content: "\e071"; }
.icon-chevron-left:before { content: "\e072"; }
.icon-circle-help:before { content: "\e082"; }
.icon-download:before { content: "\e0b6"; }
.icon-github:before { content: "\e0e9"; }
.icon-image:before { content: "\e0f9"; }
.icon-loader-circle:before { content: "\e10d"; }
.icon-shuffle:before { content: "\e161"; }
.icon-sparkles:before { content: "\e416"; }
.icon-text-cursor-input:before { content: "\e264"; }
.icon-triangle-alert:before { content: "\e192"; }
.icon-upload:before { content: "\e19d"; }
.icon-x:before { content: "\e1b1"; }
